@import "general.css";
.container {
  width: 1280px;
  margin: auto;
}

.welcome-page {
  background: #F7F7F7;
}
.welcome-page__landingImg {
  width: 100%;
  height: 970px;
  object-fit: cover;
  object-position: top;
}
.welcome-page__bigTitle {
  font-size: 96px;
  line-height: 113px;
  text-transform: uppercase;
  font-family: "Unica One", cursive;
  font-weight: 400;
  text-align: center;
}
.welcome-page__subtitle {
  font-size: 20px;
  font-weight: 400;
  padding: 24px 0 48px 0;
  text-align: center;
}
.welcome-page__whiteBuy {
  font-size: 20px;
  color: #171B1A;
  padding: 28px 88px 28px 88px;
  background: #FFFFFF;
}
.welcome-page__buttonBuy {
  display: flex;
  justify-content: center;
}
.welcome-page__personalCare {
  position: absolute;
  width: 100%;
  bottom: -35px;
}

.feedback-struggle {
  background: #F7F7F7;
}
.feedback-struggle__girlsText {
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  color: #6D6D6D;
}
.feedback-struggle__textFeedback {
  width: 509px;
  padding: 64px 63px 48px 74px;
}
.feedback-struggle__minus {
  color: #C0335D;
  margin-right: 15px;
}
.feedback-struggle__nameGirl {
  color: #C0335D;
  font-size: 20px;
  font-weight: 400;
}
.feedback-struggle__feedback {
  display: flex;
  justify-content: center;
  position: relative;
  top: -155px;
}
.feedback-struggle__namePerson {
  display: flex;
  align-items: center;
}
.feedback-struggle__information {
  background: #FFFFFF;
  height: 242px;
}
.feedback-struggle__nameBlock {
  font-size: 30px;
  font-weight: 400;
  color: #171B1A;
}

.gridInform__nameTitle {
  font-size: 56px;
  font-weight: 400;
  color: #171B1A;
  font-family: "Unica One", cursive;
  text-transform: uppercase;
}
.gridInform__nameBlock {
  font-size: 30px;
  color: #171B1A;
  padding: 24px 0 16px 0;
}
.gridInform__description {
  font-size: 16px;
  color: #6D6D6D;
}
.gridInform__blocks {
  background: #FFFFFF;
  padding: 48px 64px 48px 64px;
}
.gridInform__infoGrid {
  display: grid;
  grid-template-columns: repeat(3, 405px);
  grid-column-gap: 32px;
  margin: 64px 0 120px 0;
}

.cosmetic-info {
  background: white;
}
.cosmetic-info__titleBig {
  font-size: 56px;
  font-family: "Unica One", cursive;
  color: #171B1A;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
}
.cosmetic-info__healthy {
  font-size: 24px;
  color: #171B1A;
}
.cosmetic-info__explaining {
  font-size: 16px;
  padding: 16px 0 16px 0;
  color: #6D6D6D;
}
.cosmetic-info__generalInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cosmetic-info__leftInfo {
  display: flex;
  flex-direction: column;
}
.cosmetic-info__firstBlock {
  padding-top: 80px;
}
.cosmetic-info__firstBlock:first-child {
  padding-top: 0;
}
.cosmetic-info__buyBuy {
  font-size: 20px;
  background: #171B1A;
  padding: 28px 88px 28px 88px;
}
.cosmetic-info__blackButton {
  display: flex;
  justify-content: center;
  padding-bottom: 162px;
}
.cosmetic-info__imageBottle {
  position: relative;
  left: 40px;
}

.right {
  text-align: right;
}

.header {
  position: absolute;
  width: 100%;
}
.header__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.header__link {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  margin-right: 40px;
}
.header__link:last-child {
  margin-right: 0;
}

.brend-cosmetic {
  background: #fdfdfd;
}
.brend-cosmetic__featured {
  font-size: 56px;
  color: #171B1A;
  font-family: "Unica One", cursive;
  text-transform: uppercase;
}
.brend-cosmetic__gridImage {
  display: grid;
  grid-template-columns: repeat(4, 296px);
  grid-column-gap: 32px;
  padding: 64px 0 144px 0;
}

.care-about {
  background: #fdfdfd;
}
.care-about__itemText {
  font-size: 56px;
  font-family: "Unica One", cursive;
  color: #171B1A;
  text-transform: uppercase;
  text-align: center;
}
.care-about__textProducts {
  font-size: 24px;
  text-transform: uppercase;
  color: #6D6D6D;
  font-family: "Unica One", cursive;
  padding-top: 25px;
}
.care-about__products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.care-about__naturals {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.how-works {
  background: #fdfdfd;
}
.how-works__textBlock {
  font-size: 56px;
  font-family: "Unica One", cursive;
  color: #171B1A;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
}
.how-works__number {
  font-size: 48px;
  font-family: "Unica One", cursive;
  color: #C0335D;
  text-transform: uppercase;
}
.how-works__comfort {
  font-size: 18px;
  color: #6D6D6D;
  padding-top: 24px;
}
.how-works__information {
  background: #F7F7F7;
  padding: 48px 64px 50px 64px;
}
.how-works__threeItems {
  display: grid;
  grid-template-columns: repeat(3, 405px);
  grid-column-gap: 32px;
  padding: 64px 0 200px 0;
}

.design-block {
  background: #fdfdfd;
}
.design-block__textBlock {
  font-size: 30px;
  color: #171B1A;
}
.design-block__blackBuyRoom {
  font-size: 20px;
  color: #FFFFFF;
  background: #171B1A;
  padding: 28px 88px 28px 88px;
}
.design-block__interior {
  display: flex;
  align-items: center;
}
.design-block__stressing {
  width: 624px;
  background: #FFFFFF;
  position: absolute;
  right: 17%;
  box-shadow: 0 1px 7px grey;
}
.design-block__buyRoom {
  margin-top: 48px;
}
.design-block__infoStressing {
  padding: 96px 96px 80px 90px;
}

.footer-block {
  background: #fdfdfd;
}
.footer-block__address {
  font-size: 18px;
  color: #6D6D6D;
  padding: 40px 0 40px 0;
}
.footer-block__allItems {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}
.footer-block__titleInfo {
  font-size: 30px;
  color: #171B1A;
}
.footer-block__linkItem {
  font-size: 18px;
  color: #6D6D6D;
}
.footer-block__infoCompany {
  margin-right: 115px;
}
.footer-block__infoCompany:last-child {
  margin-right: 0;
}
.footer-block__rightInformation {
  display: flex;
}
.footer-block__items {
  margin-top: 40px;
}
.footer-block__careSkin {
  padding-bottom: 25px;
}
.footer-block__careSkin:last-child {
  padding-bottom: 0;
}
.footer-block__copyright {
  font-size: 15px;
  color: #6D6D6D;
}
.footer-block__pay {
  font-size: 15px;
  color: #6D6D6D;
  margin-right: 40px;
}
.footer-block__bottomBlocks {
  display: flex;
  justify-content: space-between;
}
.footer-block__payment {
  display: flex;
}
.footer-block__bottomBlocks {
  padding: 90px 0 96px 0;
}

.slider-shop__titleShop {
  font-size: 56px;
  font-family: "Unica One", cursive;
  text-transform: uppercase;
  text-align: center;
  color: #171B1A;
}

@media (max-width: 1280px) {
  .header__blocks {
    justify-content: space-around;
  }

  .welcome-page__bigTitle {
    font-size: 75px;
  }

  .container {
    width: 1000px;
  }

  .gridInform__infoGrid {
    grid-template-columns: repeat(3, 330px);
  }

  .cosmetic-info__LineImg {
    width: 300px;
  }
  .cosmetic-info__rightInfo {
    width: 300px;
  }
  .cosmetic-info__generalInfo {
    justify-content: unset;
  }
  .cosmetic-info__leftInfo {
    width: 300px;
  }

  .brend-cosmetic__gridImage {
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 296px);
    justify-content: center;
  }
  .brend-cosmetic__featured {
    padding-top: 20px;
  }

  .how-works__threeItems {
    grid-template-columns: repeat(3, 312px);
  }

  .design-block__interior {
    justify-content: center;
  }
  .design-block__imgRoomDesign {
    width: 1000px;
  }
}
@media (max-width: 1024px) {
  .gridInform__infoGrid {
    grid-template-columns: repeat(3, 311px);
  }

  .container {
    width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
